@model M19G2.Models.DishViewModel

@{
    ViewBag.Title = "ViewDish";
}

<h2>Dish Information</h2>

<ul>
    <li>ID: @Model.ID</li>
    <li>Name: @Model.Name</li>
    <li>Description: @Model.Description</li>
    <li>Price: @Model.Price</li>
</ul>